extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/').back ← Projects
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        img.profile.thumbnail(src='/static/images/profile-pic.jpeg')

        
        p.lead.text-light
          | Software Developer specialising in JavaScript and React
        
        
        .portfolio-bio
          p 
            | Im currently working as as front-end developer on Monitor calibration software using React to build a desktop application with Electron. 
            br
            br
            |The app interacts with external hardware devices via an extensive NodeJS back-end to create Windows/Mac colour management profiles. 
            |This contributes to photography workflows by ensuring a monitor is accurately reproducing color. UI elements are built using Chakra UI with routing handled by React Router.
            br
            br
            | A little about me, I recently completed a BSc in Software Engineering and Mathematics (1st Class) with the Open university.
            br
            br
            |In tandem with this I have also completed the Team Treehouse Full stack JavaScript Tech Degree/bootcamp  to enhance my experience in web technologies.
            br
            br
            | I proudly view myself as a lifelong learner and have progressed through my studies while working full time and supporting a young family.
            br
            br
            | Please enjoy my projects and I hope you can see my potential.
            br
            | I look forward to hearing from you. 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

      
        ul
          li JavaScript
          li HTML
          li CSS
          li ReactJS
          li Git
          li NodeJS
          li Express
          li Java OOP
          li Python Pandas 
          li Jupyter Notebooks
        h6 Contact Info

        //- Add your own contact info
        ul
          li 07474337652
          li scott@scottdavies.uk

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/scott-davies-8b5170155/') LinkedIn
        a.button.expanded(href='https://github.com/WebDevBrum') GitHub
        a.button.expanded(href='https://twitter.com/WebDevBrum') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/').back ← Projects
  