extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      
      //- h1 Hello!

      
      p.lead.text-light
        | Welcome to my page, I hope it gives you an example of how i'm currently developing my skill-set.
        br 
        br
        a(href='/about').learnb Click here to learn more about my commercial experience →
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-1.medium-up-2.large-up-3

      
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`static${project.image_urls[0]}`)
            h5= project.project_name
      
