@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Alfa+Slab+One&family=Damion&family=Do+Hyeon&family=Graduate&family=Playfair+Display:wght@500&display=swap");
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Merriweather", serif;
}

h5 {
  font-family: "Graduate", cursive;
}

h6 {
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-family: "Acme", sans-serif;

  font-size: 16.5px;

  color: black;
}

h1 {
  font-family: "Playfair Display", serif;
}

h1.myname {
  font-family: "Damion", cursive;
}

.round {
  border-radius: 5px;
}

.text-light {
  color: #666;
}

.button {
  background-color: #333;
  font-family: "Playfair Display", serif;
}

.button:hover {
  background-color: #111;
}

a {
  color: #333;
}

a:hover {
  color: #111;
}

.image {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 0.5px black; 
  border-radius: 5px;
  box-shadow:  5px 5px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.logo {
  border: 0px;
  box-shadow: none;
}

.portfolio-me {
  padding: 20px;
  background-image: url("/static/images/black-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  box-shadow: none !important;
}

.portfolio-me p {
  font-size: 14px;
  color: #999;
}

.portfolio-me a {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #555;
  font-size: 13px;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

.portfolio-me a:hover {
  color: #999;
}

.portfolio-breadcrumb {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

.portfolio-breadcrumb a {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

.portfolio-intro {
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index {
  margin: 0;
  padding: 10px 50px;
}

.portfolio-index .thumbnail {
  margin-bottom: 5px;
}

.portfolio-index a {
  color: #222;
}

.portfolio-index .cell {
  margin-bottom: 15px;
}

.portfolio-index .cell h5 {
  letter-spacing: 1px;
}

.portfolio-meta {
  padding-left: 20px;
}

.portfolio-meta .button {
  margin-bottom: 5px;
}

.portfolio-project p {
  border: none;
}

.portfolio-project li {
  font-size: 13px;
  color: #444;
}

.portfolio-bio {
  line-height: 25px;
  margin-top: -45px;
}

i {
  font-size: 0.8em;
}

.title-bar {
  background-image: url("/static/images/black-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-image: url("/static/images/whitewall2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a.learn {
  font-family: "Graduate", cursive;
  color: #fff;
}

a.learnb {
  font-family: "Do Hyeon", sans-serif;
  color: black;
  font-size: 20px;
}
a.back {
  font-family: "Acme", sans-serif;
}

span.title-bar-title {
  font-family: "Damion", cursive;
  font-size: 25px;
}

li {
  font-family: "Acme", sans-serif;
}

img.profile.thumbnail {
  height: 120px;
  width: 100px;
  display: inline-block;
  border: none;
  box-shadow: none;
}

div.inline {
  display: inline;
}

.logoWrap {
  width: 100%;
  text-align: center;
}
img.logomain.thumbnail {
  height: 100px;
  width: 100px;
  border: none;
  box-shadow: none;
}

article.grid-container.portfolio-index {
  margin-top: -50px;
}
